*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dbdbd2 ;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* background */

#green-line-bg{
    background-color: #009688;
    width: 100%;
    height: 150px;
}

/* struttura dell'app */

#app{
    background-color:#eaebeb;
    width: 80%;
    margin: auto;
    height: 90vh;
    margin-top: -5%;
    display: flex;
}

#container-left{
    height: 100%;
    width: 30%;  
}

#container-right{
    height: 100%;
    width: 70%;
}


/* stile container di sinistra */

/* stile propic */
.propic{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50px;
}
/* ////////////// */

.top-app{
    background-color:#eaebeb;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid rgb(209, 209, 209);
}

.top-user{
    display: flex;
    align-items: center;
}

.icons-top-app{
    color: #b0b1b0;
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

#notifiche{
    background-color:#8edafc;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
}

.fa-bell-slash{
    background-color: white;
    color: #8edafc;
    padding: 12px;
    border-radius: 100%;
    font-size: 20px;
    margin-left: 20px;
}

/* searchbar */

#searchbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #eaebeb;
    width: 100%;
}

.searchbar-button{
    padding:5px 20px 5px 20px;
    border: 1px solid rgb(221, 221, 221);
    color: #b0b1b0;
    background-color: white;
    border-right: none;
}

#searchbar-type{
    border: 1px solid rgb(221, 221, 221);
    width: 80%;
    height: 27.5px;
    padding-left: 5px;
}


/* lista contatti */

#contact-list{
    height: calc(100% - 190px);
    width: 100%;
    overflow-y:scroll ;
}

.card-contact{
    background-color: white;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(179, 179, 179);
}

.contact-list-text-container{
    margin-left: 10px;
}

.contact{
    margin-left: 20px; 
}

.last-access{
    font-size: 15px; 
    color: grey; 
    font-weight: 100;
}

.h-sent-container{
    display: flex;
    width: 35%;
    height: 100%;
    justify-content: end;
    align-items: start;
}

.hhh{
    margin-top: 10px;
}


/* stile container di destra */
#messages-page{
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    background-position: left;
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}


#emoji-text-vocal{
    background-color:#f5ece3 ;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    color: #6a7276;
}

#write-message{
    width: 85%;
    height: 60%;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}



/*stile messaggi */
.message{
    min-height: 40px;
    min-width: 200px;
    margin-top: 30px;
    align-self: flex-start;
    border-radius: 10px;
}

.sent{
    background-color:#d5f9ba ;
    align-self: end;
    margin-right: 40px;
}

.received{
    background-color:#fefffe;
    align-self: flex-start;
    margin-left: 40px;
}

.message-content{
    padding: 10px 80px 0px 20px;
}

.local-data{
    color: #6a7276;
    font-size: 10px;
    justify-content: flex-end;
    display: flex;
    margin-right: 5px;
}